# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [19]:
import pandas as pd
import numpy as np

# Seu código aqui

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [23]:

# seu código aqui

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

pd.Series(data=dados, index=indice)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [25]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [158]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0   113.621970  103.229822  105.161560
1    86.741497  117.124718   85.971795
2    86.050908  108.220356  109.910833
3    94.580353  114.084055  108.714272
4   120.072821   85.476486  105.974397
5   114.401786   82.617489  101.463763
6    92.055933   97.908048  100.473819
7    95.540231  101.750496   99.993427
8    92.680251   81.639685  105.750914
9   120.096282  109.027133   94.122680
10   98.456071  107.583535   97.261909
11  107.968148   83.785372  101.280075
12   94.310628  100.518314   93.601175
13  105.292930  101.667004   94.030812
14  115.681553   93.673364   98.843213
15  107.727751   80.852180   94.107775
16  100.315466   92.480330  115.179365
17   99.591676   84.865438  101.219943
18   97.595407  112.709781  110.876507
19   97.113209   98.886734  116.994088

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [198]:
#seu código aqui
indice = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
coluna = ['x1', 'x2', 'x3']

pd.DataFrame(arr, index=[indice], 
            columns=[coluna])

            x1          x2          x3
1   113.621970  103.229822  105.161560
2    86.741497  117.124718   85.971795
3    86.050908  108.220356  109.910833
4    94.580353  114.084055  108.714272
5   120.072821   85.476486  105.974397
6   114.401786   82.617489  101.463763
7    92.055933   97.908048  100.473819
8    95.540231  101.750496   99.993427
9    92.680251   81.639685  105.750914
10  120.096282  109.027133   94.122680
11   98.456071  107.583535   97.261909
12  107.968148   83.785372  101.280075
13   94.310628  100.518314   93.601175
14  105.292930  101.667004   94.030812
15  115.681553   93.673364   98.843213
16  107.727751   80.852180   94.107775
17  100.315466   92.480330  115.179365
18   99.591676   84.865438  101.219943
19   97.595407  112.709781  110.876507
20   97.113209   98.886734  116.994088

6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [246]:
# seu código aqui

df = pd.DataFrame(arr, index=indice, columns=[coluna])
df.assign(df.mean(coluna))
print(df)

TypeError: unhashable type: 'list'

7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [235]:
# seu código aqui

log_med = 

random_df["log_med"] = np.log(random_df["media"])

SyntaxError: invalid syntax (2865054207.py, line 3)